{% extends 'MyAppApBundle::layout.html.twig' %}
{% block title %}Rendez-vous:{% endblock %}
{% block recherche %}
{% include 'MyAppApBundle:Rdv:menu.html.twig' with {'menu': '6: 2013'} %}
{% endblock %}
{% block page %}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}</div>
{% endblock %}
{% block content %} 
    {% include 'MyAppApBundle:Rdv:listeAnnee.html.twig' with {'pagination' : pagination}  %}
{% endblock %}