

<div class="tile">
        <div class="tile-content">
            <table id="" class="hovered">
                <tr>
                    <td class="no_bottom_border" rowspan="3">
                        <h1>C</h1>
                    </td>
                        <td class="currentMatch"><h6>Test</h6></td>
                        <td class="currentMatch"><h6>1</h6></td>
                    </tr>
            </table>
        </div>
</div>